{% extends 'base.html' %}

{% block title %}
Password reset confirm
{% endblock %}

{% block content %}
<div class="container mx-auto py-4 px-2 text-center my-5">
 <div class="w-full">
		<div class="bg-white p-10 rounded-lg shadow-xl md:w-3/4 mx-auto lg:w-1/2">
		<h3 class="text-2xl my-4">Enter your new password</h3>
		<form action="" method="POST">
			{% csrf_token %}
			{{ form.as_p }}
			<button class="bg-blue-700 py-2 text-white rounded my-4" style="width: 200px;">Confirm</button>
			</form>
        </div>
  </div>
<script>
	const newpassword1 = document.getElementById("id_new_password1");
	newpassword1.className += " border border-gray-400 shadow p-3 w-full rounded mb-2";
	const newpassword2 = document.getElementById("id_new_password2");
	newpassword2.className += " border border-gray-400 shadow p-3 w-full rounded mb-";

	const labels = document.querySelectorAll('label');
	
	labels.forEach(label => {
		label.className += "block mb-2 font-bold text-gray-600 my-2 mb-2";
	});
</script>
</div>
{% endblock %}